@* @model IEnumerable<CompetitionEntry>

@{
    Layout = "_LayoutEcoEdu";
}

<h2 style="padding:2vw 0 1vw 1vw;">Competition Entries</h2>

@if (TempData["AlreadyGraded"] != null)
{
    <div class="alert alert-warning">@TempData["AlreadyGraded"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>UserName</th>
            <th>Title</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EntryId</td>
                <td>@item.User.Username</td>
                <td>@item.Competition.Title</td>
                <td>@item.GradeTests.FirstOrDefault()?.Score</td>
                <td>
                    @if (item.GradeTests.Any())
                    {
                        <span>Already Graded</span>
                    }
                    else
                    {
                        <a asp-controller="grades" asp-action="Grade" asp-route-id="@item.EntryId" class="btn btn-outline-secondary">Grade</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
 *@