@model IEnumerable<eco_edu_mvc.Models.Entities.CompetitionEntry>

@{
	Layout = "_LayoutEcoEdu";
}

<h2 style="padding:2vw 0 1vw 1vw;">Competition Entries</h2>


<table class="table">
	<thead>
		<tr>
			<th>Entry ID</th>
			<th>UserName</th>
			<th>Title</th>
			<th>Grade</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.EntryId</td>
				<td>@item.User.Username</td>
				<td>@item.Competition.Title</td>
				<td>@item.GradeTests.FirstOrDefault().Score</td>
				@if (item.GradeTests != null && item.GradeTests.FirstOrDefault()?.Score == null)
				{
					<td>
						<a asp-controller="grades" asp-action="Grade" asp-route-id="@item.EntryId" class="btn btn-outline-secondary">Mark</a>
					</td>
				}
				<td>Already been marked</td>
			</tr>
		}
	</tbody>
</table>
