@* @model IEnumerable<eco_edu_mvc.Models.Entities.User>
@{
	Layout = "_Layout";
}

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Fullname</th>
			<th>UserCode</th>
			<th>EntryDate</th>
			<th>CreateDate</th>
			<th>Email Verify</th>
			<th>Request Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (item.Role != "Admin")
			{
				<tr>
					<td>@item.UserId</td>
					<td>@item.Username</td>
					<td>@item.Fullname</td>
					<td>@item.UserCode</td>
					<td>@item.EntryDate</td>
					<td>@item.CreateDate</td>
					<td>@item.EmailVerify</td>
					<td>@item.IsAccept</td>
					<td>
						<a asp-controller="admin" asp-action="Update" asp-route-id="@item.UserId" class="btn btn-outline-secondary">Edit</a>
						<form asp-action="RemoveUser" asp-controller="admin" method="post" asp-route-id="@item.UserId" style="display: inline-flex">
							<button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to remove this user?')">Remove</button>
						</form>
					</td>

				</tr>
			}
		}
	</tbody>
</table>
 *@