@model eco_edu_mvc.Models.SurveyModels.QuestionModel

<div>
    <h4>QuestionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
