@model IEnumerable<eco_edu_mvc.Models.Entities.Seminar>

@{
    Layout = "_LayoutEcoEdu";
}

<div class="row">
    <h1 class="col-lg-10 col-md-8 col-sm-6">Seminar List</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seminar in Model)
        {
            var userId = int.Parse(Context.Session.GetString("UserId"));
            var hasJoined = seminar.SeminarMembers.Any(sm => sm.UserId == userId);

            <tr>
                <td>@seminar.Title</td>
                <td>@seminar.Location</td>
                <td>@seminar.OccursDate?.ToString("d")</td>
                <td>@seminar.SeminarMembers.Count / @seminar.Participants participants</td>
                <td>
                    @if (seminar.SeminarMembers.Count < seminar.Participants || hasJoined)
                    {
                        <a asp-action="JoinSeminar" asp-controller="Home" asp-route-id="@seminar.SeminarId" class="btn @(hasJoined ? "btn-success" : "btn-info")">
                            @(hasJoined ? "Already Joined" : "Join")
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Full</button>
                    }
                    <a asp-action="Details" asp-controller="Seminars" asp-route-id="@seminar.SeminarId" class="btn btn-info">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
