@model IEnumerable<eco_edu_mvc.Models.Entities.Seminar>

@{
    Layout = "_LayoutEcoEdu";
}

<div class="row">
    <h1 class="col-lg-10 col-md-8 col-sm-6">Seminar List</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seminar in Model)
        {
            <tr>
                <td>@seminar.Title</td>
                <td>@seminar.Location</td>
                <td>@seminar.OccursDate?.ToString("d")</td>
                <td>@seminar.Participants</td>
                <td>
                    <a asp-action="JoinSeminar" asp-controller="Home" asp-route-id="@seminar.SeminarId" class="btn btn-info">Join</a>
                    <a asp-action="Details" asp-controller="Seminars" asp-route-id="@seminar.SeminarId" class="btn btn-info">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
