@model IEnumerable<eco_edu_mvc.Models.Entities.Survey>

@{
    Layout = "_LayoutEcoEdu";
}

<style>
    .thisCard:hover {
        text-decoration: none;
    }

    .thisImg {
        width: 350px;
        height: 350px;
    }

    .green-topic {
        color: #4eae3a;
        font-size: 15px;
    }
</style>

<div class="container">
    <div class="services-bar">
        <h1 class="my-4">All Survey</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.Active != false)
                {
                    <a href="@Url.Action("SurveyDetail", "Home", new { id = item.SurveyId })" class="col-4 mb-4 thisCard">
                        <div class="card h-100">
                            <h4 class="card-header">@item.Title</h4>
                            <div class="card-img">
                                <img class="thisImg" src="~/Images/@item.Images" alt="Survey Image" />
                            </div>
                            <div class="card-body">
                                <h5 class="green-topic">Topic: @item.Topic</h5>
                            </div>
                            <div class="card-footer">
                                <h5 class="green-topic">Created Date: @item.CreateDate?.ToString("yyyy/MM/dd")</h5>
                                <h5 class="green-topic">End Date: @item.EndDate.ToString("yyyy/MM/dd")</h5>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</div>