@model IEnumerable<eco_edu_mvc.Models.Entities.Competition>

@{
    ViewData["Title"] = "Competitions";
}

<h1>Competitions</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Prizes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Prizes</td>
                <td>
                    <a asp-action="Join" asp-route-id="@item.CompetitionId" class="btn btn-primary">Join</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["PermissionDenied"] != null && (bool)TempData["PermissionDenied"])
{
    <div class="alert alert-danger" role="alert">
        You have not been accepted.
    </div>
}
