<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Green World</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Fontawesome CSS -->
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />

    <style>
        .navbar-brand {
            color: #4eae3a !important;
            text-decoration: none;
        }

        button {
            display: flex;
            border: none;
            background-color: #fff;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <h1>Green World</h1>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("seminar", "home")">Seminars</a>
                    </li>
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")) && Context.Session.GetString("Is_Accept") == "true" || Context.Session.GetString("Role") == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Survey", "Home")">Surveys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Competition", "Home")">Competitions</a>
                        </li>
                    }

                    @if (Context.Session.GetString("Role") == "Staff" && Context.Session.GetString("Is_Accept") == "true")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "grades")">Grade</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="@Url.Action("Contact", "Contact")">Contact</a>
                            <a class="dropdown-item" href="@Url.Action("FAQ", "FAQs")">FAQ</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "AboutUs")">About Us</a>
                        </div>
                    </li>
                    @if (string.IsNullOrEmpty(Context.Session.GetString("Username")))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Account")">
                                <svg width="30px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6C9.79086 6 8 7.79086 8 10C8 12.2091 9.79086 14 12 14C14.2091 14 16 12.2091 16 10C16 7.79086 14.2091 6 12 6Z" fill="#000000" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 14.0289 19.2447 15.8813 18.0001 17.2916C16.4085 15.8674 14.3052 15 12.0002 15C9.69511 15 7.5917 15.8675 6.00015 17.2918C4.75533 15.8815 4 14.029 4 12Z" fill="#000000" />
                                </svg>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Profile", "Account")">
                                <svg width="30px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M288 320a224 224 0 1 0 448 0 224 224 0 1 0-448 0zm544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z" /></svg>
                            </a>
                        </li>

                        <form asp-controller="Account" asp-action="Logout" method="post">
                        <li class="nav-item">
                            <button type="submit" class="nav-link">
                                <svg width="30px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_429_11067)">
                                        <path d="M15 4.00098H5V18.001C5 19.1055 5.89543 20.001 7 20.001H15" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16 15.001L19 12.001M19 12.001L16 9.00098M19 12.001H9" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs><clipPath id="clip0_429_11067"><rect width="24" height="24" fill="white" transform="translate(0 0.000976562)" /></clipPath></defs>
                                </svg>
                            </button>
                        </li>
                        </form>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="footer" style="margin-top:13vw;">
        <div class="container bottom_border">
            <div class="row">
                <div class="col-6">
                    <h5 class="headin5_amrc col_white_amrc pt2">Contact</h5>
                    <p><i class="fa fa-location-arrow"></i> No.35, D5 Street, 25 Ward, Binh Thanh District, Ho Chi Minh City, Vietnam.</p>
                    <p><i class="fa fa-phone"></i> +91-9999878398</p>
                    <p><i class="fa fa fa-envelope"></i> project@gmail.com</p>
                </div>
                <div class="col-6">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <ul class="footer_ul_amrc row">
                        <li class="col-6"><a href="@Url.Action("survey", "home")">Surveys</a></li>class>
                        <li class="col-6"><a href="@Url.Action("competition", "home")">Competitions</a></li>
                        <li class="col-6"><a href="@Url.Action("Seminar", "home")">Seminar</a></li>
                        <li class="col-6"><a href="@Url.Action("about", "home")">About Us</a></li>
                        <li class="col-6"><a href="@Url.Action("faq", "home")">FAQ</a></li>
                        <li class="col-6"><a href="@Url.Action("contact", "home")">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="footer-logo">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><h1>Green World</h1></a>
                </div>
                <p class="copyright text-center">
                    All Rights Reserved. &copy; 2024 <a href="@Url.Action("Index", "Home")" style="color: #">Green World</a> - Designed by: Hieu & Thai
                </p>
                <ul class="social_footer_ul">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            var submissionSuccess = '@TempData["SubmissionSuccess"]';
            if (submissionSuccess) {
                Swal.fire({
                    title: 'Success!',
                    text: submissionSuccess,
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
</body>
@if (TempData["PermissionDenied"] != null)
{
    <script>
        Swal.fire({
            title: 'This is for Admin',
            text: "You don't have the permission to enter!",
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    </script>
}
@if (TempData["StaffPermissionDenied"] != null)
{
    <script>
        Swal.fire({
            title: 'This is for staff',
            text: "You don't have the permission to enter!",
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    </script>
}

@if (TempData["StudentPermissionDenied"] != null)
{
    <script>
        Swal.fire({
            title: 'This is for student',
            text: "You don't have the permission to enter!",
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    </script>
}
</html>
