@model IEnumerable<eco_edu_mvc.Models.Entities.Survey>

@{
    Layout = "_Layout";
}

<style>
    .darker {
        background-color: #000;
    }
</style>

<div class="row">
    <h1 class="col-lg-10 col-md-8 col-sm-6">Survey List</h1>
    <a asp-controller="Surveys" asp-action="Post" class="btn btn-primary col-lg-2 col-md-4 col-sm-6 create-a">
        Create new survey
    </a>
</div>

<hr class="darker" />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Topic</th>
            <th>Create Date</th>
            <th>End Date</th>
            <th>Target Audience</th>
            <th>Image</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model)
        {
            <tr>
                <td>@survey.SurveyId</td>
                <td>@survey.Title</td>
                <td>@survey.Topic</td>
                <td>@survey.CreateDate?.ToString("yyyy/MM/dd")</td>
                <td>@survey.EndDate.ToString("yyyy/MM/dd")</td>
                <td>@survey.TargetAudience</td>
                <td>
                    @if (!string.IsNullOrEmpty(survey.Images))
                    {
                        <img src="@Url.Content("~/Images/" + survey.Images)" alt="Survey Image" style="max-width: 50px; max-height: 50px;" />
                    }
                    else
                    {
                        <span>None</span>
                    }
                </td>
                <td>@(survey.Active ? "Available" : "Unavailable")</td>
                <td>
                    <a asp-controller="Surveys" asp-action="Update" asp-route-id="@survey.SurveyId" class="btn btn-warning">Edit</a>
                    <form asp-controller="Surveys" asp-action="Delete" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this survey?');">
                        <input type="hidden" name="id" value="@survey.SurveyId" />
                        <input type="submit" value="Delete" class="btn btn-outline-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr class="darker" />

<a asp-controller="Questions" asp-action="Index" class="btn btn-info">To question list</a>
<a asp-controller="Responses" asp-action="Index" class="btn btn-info">To response list</a>