@model IEnumerable<eco_edu_mvc.Models.Entities.Response>

@{
    Layout = "_Layout";
}

<div class="row">
    <h1 class="col-lg-10">Response List</h1>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Survey Title</th>
            <th>Question</th>
            <th>User's Answer</th>
            <th>Correct Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rep in Model)
        {
            <tr>
                <td>@rep.ResponseId</td>
                <td>@rep.Question.Survey.Title</td>
                <td>@rep.Question.QuestionText</td>
                <td>@rep.Answer</td>
                <td>@(rep.Question.CorrectAnswer ?? "None")</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<a asp-controller="Surveys" asp-action="Index" class="btn btn-info">To survey list</a>
<a asp-controller="Questions" asp-action="Index" class="btn btn-info">To question list</a>