@model IEnumerable<eco_edu_mvc.Models.Entities.Seminar>

@{
    Layout = "_Layout";
}

<div class="row">
    <h1 class="col-lg-10 col-md-8 col-sm-6">Seminar List</h1>
    <a asp-controller="seminars" asp-action="create" class="btn btn-primary col-lg-2 col-md-4 col-sm-6 create-a">
        Create new seminar
    </a>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seminar in Model)
        {
            <tr>
                <td>@seminar.Title</td>
                <td>@seminar.Location</td>
                <td>@seminar.OccursDate?.ToString("d")</td>
                <td>@seminar.Participants</td>
                <td>
                    <a asp-action="edit" asp-route-id="@seminar.SeminarId" class="btn btn-info">Edit</a>
                    <a asp-action="delete" asp-route-id="@seminar.SeminarId" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
